a-scene(vr-mode-ui="enabled: false"
        cursor="rayOrigin: mouse; fuse: false"
        raycaster="objects: .clickable")
    a-assets
        img(id="ocean-background" src="img/8k-1.jpg")
        //-Ana
        img(id="ana-ojo" src="img/ana_ojo.png")
        img(id="ana-ave" src="img/ana_ave.png")
        img(id="ana-tibu" src="img/ana_tibu.png")
        img(id="ana-medusa" src="img/ana_medusa.png")
        img(id="ana-alga" src="img/ana_alga.png")
        img(id="ana-cotorra" src="img/ana_cotorra.png")
        img(id="ana-alga-chiquito" src="img/ana_alga-reves.png")
        img(id="ana-ave-chiquito" src="img/ana_ave-reves.png")
        //-Mariela
        img(id="mariela-loro-2" src="img/mariela_loro2.png")
        img(id="circulo-amarillo" src="img/circulo-amarillo.png")
        img(id="circulo-verde-chico" src="img/circulo-verde-chico.png")
    
        img(id="circulo-violeta" src="img/circulo-violeta.png")
        img(id="circulo-rojo" src="img/circulo-rojo.png")


    a-camera(look-controls="enabled: true; reverseMouseDrag: true; magicWindowTrackingEnabled: false"
        wasd-controls="enabled: false" fov="60" position="0 0 0")

    a-sky(material="src: #ocean-background")


    //- Círculos Gabi
    - for (let i=1; i <= 4; i++)
        +partials_new-sea-figure({
            classes: ['icono-gabriela'],
            image: { src: '#circulo-violeta' },
            contentLoader: { link: `gabriela-0${i}.html` },
            wandererAnimation: { direction: 'left' }
        })

        //- Test 3D
    +partials_new-sea-figure({
        classes: ['icono-gabriela'],
        image: { src: '#circulo-rojo' },
        contentLoader: { link: `gabriela-05.html`, scripts: ['js/scripts/testScene.js'], dependencies: [
            {
                src: 'js/lib/threeJsScenes.js',
                type: 'module',
            }
            ]
        },
        wandererAnimation: { direction: 'left' }
    })

    //- Círculos Mariela

    - const sufijosLinksGrandesMariela = ['A', 'B', 'C', 'D'];
    - const sufijosLinksChicosMariela = ['A1', 'A2', 'A3', 'A4', 'B1', 'C1', 'C2', 'D1', 'E1', 'E2'];

    - for (let sufijo of sufijosLinksGrandesMariela)
        +partials_new-sea-figure({
            classes: ['icono-mariela'],
            image: { src: '#mariela-loro-2', aspectRatio: 1.750 },
            contentLoader: { link: `mariela-${sufijo}.html` },
            wandererAnimation: { direction: 'right' }
        })

    - for (let sufijo of sufijosLinksChicosMariela)
        +partials_new-sea-figure({
            classes: ['icono-mariela'],
            image: { src: '#circulo-verde-chico' },
            contentLoader: { link: `mariela-${sufijo}.html` },
            wandererAnimation: { direction: 'right' }
        })

    //- Test texto animado
    +partials_new-sea-figure({
        classes: ['icono-mariela'],
        image: { src: '#circulo-amarillo' },
        contentLoader: { link: `mariela-E.html`, scripts: ['js/scripts/mouseoverText.js'], dependencies: ['js/lib/spanify.js'] },
        wandererAnimation: { direction: 'right' }
    })

    //- Figuras Ana

    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-ojo', aspectRatio: 0.884 },
        contentLoader: { link: `ana-01.html` },
        wandererAnimation: { direction: 'right' }
    })
    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-ave', aspectRatio: 1.321 },
        contentLoader: { link: `ana-02.html` },
        wandererAnimation: { direction: 'right' }
    })
    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-tibu', aspectRatio: 2.469 },
        contentLoader: { link: `ana-03.html` },
        wandererAnimation: { direction: 'left' }
    })
    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-medusa', aspectRatio: 1.089 },
        contentLoader: { link: `ana-04.html` },
        wandererAnimation: { direction: 'left' }
    })
    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-alga', aspectRatio: 1.433 },
        contentLoader: { link: `ana-05.html` },
        wandererAnimation: { direction: 'right' }
    })
    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-cotorra', aspectRatio: 1.506 },
        contentLoader: { link: `ana-06.html` },
        wandererAnimation: { direction: 'left' }
    })

    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-ave-chiquito', aspectRatio: 1.321 },
        wandererAnimation: { direction: 'left' }
    })

    +partials_new-sea-figure({
        classes: ['icono-ana'],
        image: { src: '#ana-alga-chiquito', aspectRatio: 1.433 },
        wandererAnimation: { direction: 'left' }
    })


