
//- Contenidos:

//- Modales
//- Figuras del mar




//----------------------------


//- Modales

//- 1- general modal templates

mixin partials_modal_outer-structure(options, block)
    #popup-main.u-transition-04s.js-state-components(
        data-component-name="overlay"
        data-component-state="default"
    )
        - let modalName = options.name;
        div.props-palette-fluid
            .l-flex.shape-fullscreen-overlay.u-background-color-secondary-tr.u-cursor-pointer.js-close-modal(
                data-modal-name=modalName
            )
                div.shape-popup.u-color-primary.u-background-color-secondary-tr.l-responsive-padding(style="--m: 2em; --d: 4em").u-cursor-auto.u-overflow-y-scroll
                    -if(block)
                        block


//-ex partials_modal--mariela
mixin partials_modal--grow(options, block)
    -let modalName = options.name
    +partials_modal_outer-structure({palette: 'fluid', name: modalName})
        a.js-close-modal(data-modal-name=modalName) [X Cerrar]
        article.content
            - if (block)
                block

//-ex partials_modal--ana
mixin partials_modal--fixed-center(options, block)
    +partials_modal--fixed(options)
        +partials_modal--fixed_inner-content({isCentered: true})
            - if(block)
                block

mixin partials_modal--fixed-grow(options, block)
    +partials_modal--fixed(options)
        +partials_modal--fixed_inner-content({isCentered: false})
            - if(block)
                block

mixin partials_modal--fixed(options, block)
    -let modalName = options.name
    +partials_modal_outer-structure({palette: 'fluid', name: modalName})
        .popup-content-wrapper.l-flex.u-height-100.u-width-100
            .l-grid.u-height-100.u-width-100(style="--r: min-content auto")
                a.js-close-modal(data-modal-name=modalName style="grid-row: 1/2") [X Cerrar]
                - if(block)
                    block

mixin partials_modal--fixed_inner-content(options)
    -
        let isCentered = options.isCentered ?? false;
        let styleString = "grid-row: 2/3";
        if (! isCentered) {
            style += "; --a: 'start'";
        }
    .l-flex.l-abs.u-height-100.u-width-100(style=styleString)
        - if(block)
            block

mixin partials_modal--first-text(options, block)
    - let modalName = options.name
    +partials_modal_outer-structure({palette: 'fluid', name: modalName})
        +partials_first-text-wrapper(modalName)
            - if (block)
                block

mixin partials_first-text-wrapper(name, block)
    .l-flex.u-min-height-100
        article.content.u-text-align-center
            a.u-color-accent.u-cursor-pointer.js-close-modal(data-modal-name=name) [ Salir ]
            - if (block)
                block

mixin partials_first-text-external-link(text, url)
    a.filter-interactive-blur.animation-interactive-shake.u-display-inline-block(target="_blank" href=url)=text

mixin partials_first-text-internal-link(name, text)
    - let url = `contents/${name}.html`;
    a.filter-interactive-blur.animation-interactive-shake.u-display-inline-block.js-load-content(data-modal-name=name href=url)=text




//- Figuras del mar

mixin partials_new-sea-figure(options)
    //-JS Logic
    -
        const randNum = (min, max) => Math.floor(Math.random()*(max-min) + min);

        const figure = {};
        const {classes, image, contentLoader, wandererAnimation} = options;
        const distanceModifier = Math.random();

        figure.classes = ['clickable'].concat(classes);

        figure.src = image.src;
        figure.aspectRatio = image.aspectRatio;
        figure.width = contentLoader ? 2 : 1;
        figure.height = contentLoader ?
            (figure.aspectRatio ? 2/figure.aspectRatio : 2)
            : (figure.aspectRatio ? 1/figure.aspectRatio : 1);

        figure.position = `0 0 -${distanceModifier * 6 + 4}`;
        figure.initialRotation = `${randNum(-15, 15)} ${randNum(0, 360)} 0`;

        if(contentLoader){
            figure.classes.push('js-load-content');

            figure.modalName = contentLoader.modalName ? contentLoader.modalName : undefined;
            figure.link = contentLoader.link;
            figure.dataScripts = contentLoader.script ? contentLoader.script : undefined;
            figure.beforeInsert = contentLoader.beforeInsert ? contentLoader.beforeInsert : undefined;
            figure.afterInsert = contentLoader.afterInsert ? contentLoader.afterInsert : undefined;
            figure.beforeRemove = contentLoader.beforeRemove ? contentLoader.beforeRemove : undefined;
            figure.afterRemove = contentLoader.afterRemove ? contentLoader.afterRemove : undefined;
        }

        if(wandererAnimation) {
            figure.direction = wandererAnimation.direction;
        }
        
    //-Markup
    a-entity.wanderer(
        animation
        rotation=figure.initialRotation
        data-direction=figure.direction
        data-speed-modifier=distanceModifier
    )
        a-image(
            material="alphaTest: 0.5"
            class=figure.classes.join(' ')
            position=figure.position
            src=figure.src
            href=figure.link
            data-scripts=figure.dataScripts
            data-before-insert=figure.beforeInsert
            data-after-insert=figure.afterInsert
            data-before-remove=figure.beforeRemove
            data-after-remove=figure.afterRemove
            data-modal-name=figure.modalName
            width=figure.width
            height=figure.height
        )








mixin partials_sea-figure(options)
    - const {img, className, link, dependencies, scripts, aspectRatio} = options;
    //- Create rigged objects
        //-Figure
    - const randAng = (min, max) => Math.floor(Math.random()*(max-min) + min);
    - const initialRotationString = `${randAng(-15, 15)} ${randAng(0, 360)} 0`;

    - const rad = (className === 'greenSmall') ? '0.5' : '1';
    - const geometryString = `primitive: circle; radius: ${rad}`;
    - const materialString = `color: ${color}`;
    - const classString = `clickable ${className} ${link ? 'js-load-content' : ''}`;
    - const positionString = `0 0 -${Math.round(Math.random()*2 + 4)}`;
    //- - const scaleString = link ? `2 ${aspectRatio ? 2/aspectRatio : 2} 0.1` : `1 ${aspectRatio ? 1/aspectRatio : 1} 0.1`;
    - const widthString = link ? 2 : 1;
    - const heightString = link ? (aspectRatio ? 2/aspectRatio : 2) : (aspectRatio ? 1/aspectRatio : 1);
        //-Functionality
    - const scriptsString = scripts ? JSON.stringify(scripts) : '[]';
    - const dependenciesString = dependencies ? JSON.stringify(dependencies) : '[]';
    -
        console.log(img);
    //-Markup
    a-entity.wanderer(animation rotation=initialRotationString)
        a-image(
            material="alphaTest: 0.5"
            class=classString
            position=positionString
            src=img
            href=link
            data-scripts=scriptsString
            data-dependencies=dependenciesString
            width=widthString
            height=heightString
        )


//- Media Players


mixin partials_audio-player(audioUrl)
    audio.u-display-none.audio-player.voice-over(src=audioUrl preload="metadata" controls="false")
    .player-progress.u-cursor-pointer.l-abs.u-width-100.u-height.u-background-color(
        style="--h: 5px; --b: var(--color-primary)"
        data-audio-player=".voice-over" data-audio-player-behavior="progress"
    )
        .player-progress__ellapsed.u-height-100.u-background-color(
            style="--b: var(--color-accent)"
        )
    .l-flex(style="--j: center")
        img.u-cursor-pointer.audio-control(src="img/icon-play.svg", alt="Play" data-audio-player=".voice-over" data-audio-player-behavior="play")
        img.u-cursor-pointer.audio-control(src="img/icon-pause.svg", alt="Pause" data-audio-player=".voice-over" data-audio-player-behavior="pause")
        img.u-cursor-pointer.audio-control(src="img/icon-stop.svg", alt="Stop" data-audio-player=".voice-over" data-audio-player-behavior="stop")

mixin partials_podcast-audio-player(audioUrl)
    +partials_audio-player(audioUrl)
    style.
        .audio-control {
            width: 2.5em;
            opacity: 0.75;
        }
        .audio-control.active {
            opacity: 1;
        }
   
mixin partials_video-player(videoUrl)
    //- video.video-player.u-pointer-events-none.u-max-width-100.u-height-100.u-object-position-center(src=videoUrl preload="metadata")
    video.video-player.u-cursor-pointer.u-max-width-100.u-height-100.u-object-position-center(src=videoUrl preload="metadata")


mixin partials_full-size-video-player(videoUrl)
    video.video-player.u-cursor-pointer.shape-object-cover(src=videoUrl preload="metadata" loop="true")

mixin partials_podcast-video-player(videoUrl)
    video.video-player.u-opacity-025.shape-object-cover(src=videoUrl preload="metadata" loop="true")

mixin partials_podcast-player(options, block)
    - const {videoUrl, audioUrl} = options;
    //- Capa 1 fondo sólido
    .div.u-width-100.u-height-100.u-background-color(style="--b: var(--color-secondary)")
    //- Capa 1.5 video
    +partials_podcast-video-player(videoUrl)
    //- Capa 2: Contenido scrolleable.
    .u-overflow-y-scroll.u-max-height-100.u-width-100.u-padding-1em
        - if(block)
            block
        +partials_podcast-audio-player(audioUrl)



mixin partials_left-floated-image(url)
    img.u-width-100.u-desktop-width-50.u-float-left.u-padding-2em(src=url)


mixin partials_button-interface(options)
    -
        const {name, action} = options;
    button.u-color-accent.u-background-none.decoration-accent-outline.u-border-none.u-padding-1em.u-display-block.u-width-100.color-interactive-background.u-cursor-pointer(data-action=action)=name

mixin partials_expandable-box(name, block)
    .js-expandable-box.u-overflow-hidden.u-height.u-transition-04s.u-position-relative(style="--h: 6.6em" data-name=name)
        .js-expandable-box_inner
            if(block)
                block
    span.js-expandable-box_toggle.u-text-align-center.u-font-size-s3.u-display-block.u-margin-1em.u-cursor-pointer(data-name=name)
            
        